[submodule "src/vsmtp/plugins/vsmtp-plugin-csv"]
	path = src/vsmtp/plugins/vsmtp-plugin-csv
	url = git@github.com:viridIT/vsmtp-plugin-csv.git
[submodule "src/vsmtp/plugins/vsmtp-plugin-mysql"]
	path = src/vsmtp/plugins/vsmtp-plugin-mysql
	url = git@github.com:viridIT/vsmtp-plugin-mysql.git
