[package]
edition = "2021"

name = "vsmtp-delivery"
version = "1.1.0"
license = "GPL-3.0-only"

rust-version = "1.58"

authors = ["Team viridIT <https://viridit.com/>"]
description = "Next-gen MTA. Secured, Faster and Greener"
homepage = "https://github.com/viridIT/vSMTP"
repository = "https://github.com/viridIT/vSMTP"
readme = "../../../README.md"
keywords = ["vsmtp"]
categories = ["network-programming"]

[dependencies]
vsmtp-common = { path = "../vsmtp-common", version = "1.1.0" }
vsmtp-config = { path = "../vsmtp-config", version = "1.1.0" }

async-trait = "0.1.56"

time = { version = "0.3.10", default-features = false, features = [
  "std",
  "formatting",
  "macros",
] }

users = { version = "0.11.0", features = [] }
trust-dns-resolver = { version = "0.21.2", features = [
  "dns-over-rustls",
  "dnssec-openssl",
] }

[dev-dependencies]
