[package]
edition = "2021"

name = "vsmtp-auth"
version = "1.1.3"
license = "GPL-3.0-only"

rust-version = "1.58"

authors = ["Team viridIT <https://viridit.com/>"]
description = "Next-gen MTA. Secured, Faster and Greener"

homepage = "https://github.com/viridIT/vSMTP"
repository = "https://github.com/viridIT/vSMTP"
documentation = "https://docs.rs/crate/vsmtp-auth/"

readme = "../../../README.md"
keywords = ["vsmtp", "dkim", "dmarc"]
categories = ["data-structures"]

[package.metadata.release]
pre-release-replacements = [
    { file = "Cargo.toml", search = "vsmtp-common = \\{ path = \"../vsmtp-common\", default-features = false, version = .*", replace = "vsmtp-common = { path = \"../vsmtp-common\", default-features = false, version = \"{{version}}\" }", prerelease = true },
]

[dependencies]
vsmtp-common = { path = "../vsmtp-common", version = "1.1.3", default-features = false }

thiserror = "1.0.31"
anyhow = "1.0.59"

strum = { version = "0.24.1", features = ["derive"] }
tokio = { version = "1.20.1", default-features = false, features = [
    "macros",
    "time",
    "sync",
    "fs",
    "net",
    "io-util",
    "rt-multi-thread",
] }

base64 = "0.13.0"

sha2 = "0.10.2"
rsa = "0.6.1"

# should be optional and under a legacy flag
sha1 = "0.10.1"

convert_case = "0.5.0"

[dev-dependencies]
pretty_assertions = "1.2.1"
vsmtp-mail-parser = { path = "../vsmtp-mail-parser" }
trust-dns-resolver = { version = "0.21.2", default-features = false, features = [
    "system-config",
    "serde-config",
    "tokio-runtime",
] }
rand = "0.8.5"

[features]
default = ["vsmtp-common/gsasl_bindgen"]

# TODO: improve that
[package.metadata.docs.rs]
features = []
all-features = false
no-default-features = true
